@import url(//db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy);
@font-face {font-family: "Early GameBoy"; src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot"); src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206 34 17);
}

.App {
  text-align: center;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <---------- Header ----------> */

header {
  margin-left: 1rem;
}

header h1 {
  font-size: 4rem;
  margin: auto;
}

header .mini-icon, #scanner {
  display: none;
}

/* @media only screen and (min-width: 768px) {
  header {
    display: flex;
    width: 70vw;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 1100px) {
  header .mini-icon, #scanner {
    display: flex;
  }

  header {
    justify-content: center;
  }

  h1 {
    margin: 0;
    margin-left: -5vw;
    text-align: center;
  }
} */

#banner {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
  background-color: rgb(206 34 17);
}

#scanner {
  width: 11rem;
  height: 11rem;
  background-color: aqua;
  border-radius: 50%;
  border: 15px white solid;
  margin-right: 3rem;
  box-shadow: 0 0 30px 10px rgb(1, 1, 172) inset, 0 0 30px black;
}

.mini-icon {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  margin: 0 0.75rem;
  border: 1px solid black;
  box-shadow: 0 0 10px black inset;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

h1, p.loading {
  font-family: 'Pokemon Solid', sans-serif; 
  font-size: 7rem; 
  text-align: right;
  margin-left: auto;
  color: rgb(255 204 0);
  text-shadow: -2px 0 rgb(0 117 190), 0 2px rgb(0 117 190), 2px 0 rgb(0 117 190), 0 -2px rgb(0 117 190), -10px 10px rgb(10 40 95)
}

p.loading {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}

/* <---------- Search Input ----------> */

input, label, button {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0.25rem;
  padding: 0.25rem;
}

label {
  color: white;
  font-weight: bold;
}

form {
  width: 100vw;
  margin: 1rem auto;
}

#search-btn {
  background-color: rgb(207, 205, 205);
  color: black;
  border: 1px white solid;
  box-shadow: 0 0 5px 2px black, 0 0 4px black inset;
  border-radius: 10px;
}

/* @media only screen and (min-width: 768px) {
  input, label, button {
    font-size: 1.5rem;
  }

  form {
    margin: 2rem 0 3rem 0;
  }
} */

/* <---------- Results / PokéList ----------> */

section {
  width: 80vw;
  margin: 0 auto;
  padding: 0 2rem 0rem 2rem;
  background-color: rgb(207, 205, 205);
  border-bottom-left-radius: 60px;
  box-shadow: 0 0 10px black inset;
}

.result-box {
  background-color: rgb(219, 234, 222);
  box-shadow: 0 0 10px black inset;
  padding: 0.5rem;
}

#result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

#poke-name {
  font-size: 1.1rem;
  font-family: "Early GameBoy";
  margin-top: 1rem;
}

.small {
  height: 1rem;
  width: 1rem;
  box-shadow: 0 0 5px black inset;
}

#result-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#speaker {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.speaker-line {
  border-bottom: 3px black solid;
}

.mini-icon.red.left {
  height: 2rem;
  width: 2rem;
  margin: 1rem 1rem 1rem 0;
}

#stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 100%;
}

img {
  width: 100%;
}

figcaption {
  width: 100%;
}

/* figcaption p {
  font-size: 2rem;
  padding: 1rem;
} */

h3.gb-font {
  font-size: 1rem;
  padding: 0.25rem 0;
}

/* #chart {
  width: 95%;
  margin: 0;
  align-self: center;
  flawed responsiveness, doesn't revert, shrink or grow until refresh
} */
canvas {
  background-color: rgb(247, 248, 248);
  border-top: 3px black dashed;
  border-left: 3px black solid;
  border-right: 3px black solid;
  border-bottom: 3px black solid;
  border-radius: 0 0 30px 30px;
  width: 100%;
}

.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* figure {
  height: fit-content;
} */

.result-footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.result-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pokemon-type {
  height: 2rem;
  padding: 1rem;
  color: white;
  display: flex;
  padding-left: 1.75rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 15px;
  margin: 0.5rem 1rem;
  font-family: "Early GameBoy";
  border: 5px black solid;
  box-shadow: 0 0 5px black inset;
}

.statbox {
  background-color: white;
  border: black solid 3px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.gb-font {
  font-family: "Early Gameboy";
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-color: rgb(206 34 17);
  border-radius: 30px 30px 0 0;
  border-left: 3px black solid;
  border-top: 3px black solid;
  border-right: 3px black solid;
}

.statbox p {
  font-family: "Early Gameboy";
  text-align: left;
}

.statbox__child {
  width: 50%;
}

.box-left p {
  border-left: rgb(206 34 17) 5px solid;
  padding-left: 1rem;
  padding-right: 1rem;
}

.box-right p {
  padding-left: 3rem;
}

.statbox--top {
  border-top-left-radius: 7px;
  border-bottom: black 2px dashed
}

.statbox--bottom {
  border-bottom-left-radius: 7px;
}


@media only screen and (min-width: 480px) {
  #poke-name {
    font-size: 1.5rem;
  }

  h3.gb-font {
    font-size: 1.1rem;
    padding: 0.25rem 0;
  }

  .pokemon-type {
    color: white;
    width: 190px;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  section {
    width: 80vw;
    margin: 0 auto;
    padding: 5rem 5rem 2rem 5rem;
    background-color: rgb(207, 205, 205);
    border-bottom-left-radius: 150px;
    box-shadow: 0 0 10px black inset;
  }

  #result-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3rem 0 1rem 0;
  }

  .result-box {
    background-color: rgb(219, 234, 222);
    box-shadow: 0 0 10px black inset;
    padding: 2rem;
  }

  #poke-name {
    font-size: 3rem;
    font-family: "Early GameBoy";
    margin-top: 1rem;
  }

  .poke-id-break {
    display: none;
  }

  #speaker {
    margin-top: 1rem;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    }

  .speaker-line {
    border-bottom: 5px black solid;
  }

  .left {
    height: 4rem;
    width: 4rem;
    margin: 2rem 0 1rem 1rem;
  }

  #stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    flex-basis: 475px;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
  }

    /* h3.gb-font {
    font-size: 1.1rem;
    padding: 0.25rem 0;
  } */

  /* #chart {
    width: 100%;
    margin: 0;
    align-self: center;
    flawed responsiveness, doesn't revert, shrink or grow until refresh
  } */

  canvas {
    background-color: rgb(247, 248, 248);
    border-top: 3px black dashed;
    border-left: 3px black solid;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    border-radius: 0 0 30px 30px;
    width: 100%;
  }

  .result-footer ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .pokemon-type {
    height: 4rem;
    padding: 1rem;
    color: white;
    /* background-color:grey; */
    display: flex;
    padding-left: 1.75rem;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    border-radius: 20px;
    margin: 0.5rem 1rem;
    font-family: "Early GameBoy";
    border: 5px black solid;
    box-shadow: 0 0 5px black inset;
  }

  .statbox {
  background-color: white;
  border: black solid 3px;
  border-radius: 10px;
  display: flex;
  flex-basis: 35%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.gb-font {
  font-family: "Early Gameboy";
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-color: rgb(206 34 17);
  text-align: center;
  font-size: 1.75rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-left: 3px black solid;
  border-top: 3px black solid;
  border-right: 3px black solid;
}

.statbox p {
  font-size: 1.5rem;
  font-family: "Early Gameboy";
  text-align: left;
}

.box-left p {
  border-left: rgb(206 34 17) 5px solid;
  padding-left: 2rem;
  padding-right: 1rem;
}

.box-right p {
  padding-left: 4rem;
}
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


